:root{
    --bs-primary: #2179FD;
    --bs-lt-red: #ff8282;
    --bs-red: #FF5C5C;
    --bs-dk-red: #ed2424;
    --bs-redwood: #b1504f;
    --bs-lt-grey: #dddddd;
    --bs-grey: #c5c5c5;
    --bs-dk-grey: #606060;
    --bs-white: #fff;
    --bs-lt-black: #2a2a2a;
    --bs-black: #1e1e1e;
    --bs-dk-black: #0f0f0f;
}

$mobile: 576px;
$tablet: 991px;


$heading-font-family: 'Inter', sans-serif;
$body-font-family: 'Josefin Sans', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Josefin+Sans:wght@400;700&display=swap');


img{
    object-fit: cover;
   width: 100%;
}
a{
    color: var(--bs-lt-red);
    text-decoration:none;
    transition: .15s ease-in-out;
    &.active, &:hover,&:focus,:active{
        color: var(--bs-red);
    }
}
body{
    min-height: 100vh;
    background-color: var(--bs-black);
    color: var(--bs-white);
    font-family: $body-font-family;
    font-size: 16px;
}
h1, h2, h3, h4, h5{
    font-family: $heading-font-family;
    font-weight: 900;
    margin-bottom: .4em;
}

.btn{
    padding: 13px 5px 11px 5px;
    font-weight: 700;
    border: 2px solid #1a1a1a;
    transition: .2s ease-in-out;
    @media (max-width: $mobile) {
        padding: 11px 0px 9px 0px;
    }




    &.primary-btn{
        color: var(--bs-black);
        background-color: var(--bs-lt-red);
        border: 2px solid var(--bs-lt-red);
        &:hover,&:focus,:active{
            color: var(--bs-white);
            border: 2px solid var(--bs-red);
            background-color: var(--bs-red);
        }
    }
    &.secondary-btn{
        color: var(--bs-white);
        background-color: var(--bs-lt-black);
        &:hover,&:focus,:active{
            color: var(--bs-white);
            border: 2px solid var(--bs-dk-black);
            background-color: var(--bs-dk-black);
        }
    }
}

.navbar{
    position: fixed;
    z-index: 10;
    padding: 10px;
    display: flex;
    width: 100%;
    background-color: #0f0f0fac;




    .navbar-logo{
        width: 65px;
    }
    .main-menu{
        display: flex;
        padding: 0;
        margin: 0;
        margin-left: auto;
        list-style: none;

        li{
            display: flex;
            align-items: center;
            a{
                margin-right: 15px;
                color: var(--bs-white);
                &.btn{
                    padding: 10px 15px;
                }
            }
        }

        @media (max-width: $mobile) {
            position:absolute;
            top:0;
            left: 0;
            background-color: #000;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: -1;
            transition: .2s ease-in-out;
            opacity: 0;
            visibility: hidden;


            &.show{
                opacity: 1;
                visibility: visible;
            }

            li{
                margin-bottom: 15px;
            }
            .btn{
                background: none;
                padding: initial !important;
                border: none;
            }
            a{
                font-size: 15px;
                color: var(--bs-white);
                font-weight: 700;
                margin-right: 0 !important;
            }
        
        }
    }
}


.hamburger{
    display: none;
    cursor: pointer;
    @media (max-width: $mobile) {
        display: inline-block;
    }

    .bar-line{
        border-radius: 10px;
    }

    .bar1, .bar2, .bar3 {
        width: 27px;
        height: 4px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.2s ease-in-out;
        margin-left: auto;
    }

    .bar1{
        width: 27px;
    }
    .bar2{
        width: 21px;
    }
    .bar3{
        width: 24px;
    }
      
    &.change .bar1 {
        width: 27px;
        transform: translate(0, 9px) rotate(135deg);
    }
    
    &.change .bar2 {
        width: 27px;
        opacity: 0;
    }
    
    &.change .bar3 {
        width: 27px;
        transform: translate(0, -9px) rotate(-135deg);
    }
}











.index-hero{ 
    min-height: 85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    @media (max-width: $tablet) {
        min-height: initial;
        padding-top: 100px;
        padding-bottom: 80px;
    }
    .background-images{
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: cover;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 1;
        img{
            filter: blur(30px);
            
            @media (max-width: $tablet) {
                width: initial;
            }
        }
    }
    .overlay{
        background: rgb(33,33,33);
        background: linear-gradient(0deg, rgb(30 30 30) 10%, rgb(30 30 30 / 0%) 100%);
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .container{
        display: flex;
        position: relative;
        @media (max-width: $tablet) {
            flex-direction: column;
            .slider{
                order: 0;
                margin-bottom: 30px;
            }
            .content{
                order: 1;
            }
        }
        .dots{
            position: absolute;
            bottom: -80px;
            z-index: 4;
            list-style: none;
            padding: 0;
            left: 50%;
            transform: translateX(-50%);
            @media (max-width: $tablet) {
                bottom: -65px;
            }
            li{
                margin: 0;
                height: 12px;
                width: 12px;
                background-color: var(--bs-dk-grey);
                display: inline-block;
                border-radius: 50%;
                margin: 0 4px;
                transition: .2s ease-in-out;
                &.active{
                    background-color: var(--bs-white);
                }
            }
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 800px;
        margin-right: 50px;
        z-index: 3;
        @media (max-width: $tablet) {
            width: 100%;
            margin-right: 0px;
        }
        .tagline{
            font-size: .85em;
            font-weight: 700;
            color: var(--bs-lt-grey);
            text-transform: uppercase;
            letter-spacing: 3px;
            margin-bottom: 10px;
        }
    }
    .cta{
        max-width: 140px;
        position: relative;
        &::before,&::after{
            height: 20px;
            width: 20px;
            background: var(--bs-black);
            border-radius: 50%;
            content: '';
            z-index: 3;
            display: block;
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
        }
        &::after{
            left: initial;
            right: -10px;
        }
    }
    .slider{
        width: 100%;
        z-index: 4;
        img{
            border-radius: 15px;
            height: 500px;
            @media (max-width: $mobile) {
                height: 275px;
            }
        }
    }
}


.index-events{
    position: relative;
    list-style: none;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 7px;
    .index-block{
        display: block;
        border-radius: 10px;
        box-shadow: 3px 3px 5px var(--bs-dk-black);
        transition: .15s ease-in-out;
        scale: 1;
        color: inherit;
        margin-right: 20px;
        @media (max-width: $mobile) {
            max-width: 300px;
            min-width: 80vw;
        }
        &:last-child{
            margin-right: 0;
        }
        &:hover,&:focus,&:active,&.active{
            box-shadow: 6px 6px 10px var(--bs-dk-black);
            scale: 1.01;
            color: inherit;
            *{
                color: inherit;
            }
            .fa-check{
                color:var(--bs-white);
            }
        }
        .background-image img{
            min-height: 100%;
        }
        .content{
            .event-name{
                white-space: initial;
                line-height: 1.2;
            }
        }
        .overlay{
            background: rgb(33,33,33);
            background: linear-gradient(0deg, rgb(30 30 30) 40%, rgb(30 30 30 / 0%) 100%);
            opacity: .9;
        }
    }
}



.event-block{
    min-height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    @media (max-width: $mobile) {
        font-size: .9em;
    }
    .background-image{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 2;
        overflow: hidden;
        width: 100%;
        border-radius: 10px;
        
        img{
            max-height: 250px;
            object-fit: cover;
            object-position: center center;
        }
    }
    .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, #1e1e1e2e 0%, var(--bs-black) 100%);
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    .date{
        z-index: 5;
        color: white;
        position: relative;
        display: flex;
        justify-content: end;
        .slab{
            background: #000;
            padding: 8px 12px;
            border-radius: 10px;
            font-size: .75em;
            text-align: center;
            .day{
                font-size: 1.7em;
                line-height: 1em;
            }
            .month{
                line-height: 1em;
            }
        }
    }
    .content{
        z-index: 5;
        color: white;
        position: relative;
        font-size: 0.9em;
        .organizer{
            .fa-stack{
                font-size: 0.7em;
                margin-top: -4px;
                color: var(--bs-primary);
            }
        }
        .event-name{
            font-size: 1.4em;
            font-weight: 700;
        }
    }

}




footer{
    margin-top: 20px;
    padding: 50px 0;
}