/* =============================
========== buttons ========
================================*/


.action-btn:hover{
    background-color: var(--clr-orange-hover);
}

.action-box button:hover{
    color: var(--clr-orange-hover);
    z-index: 6;
    background-color: white;
}

.email button:hover{
    background-color: var(--clr-orange-hover);

}

footer ul li a:hover{
    color: var(--clr-orange);
}

/* =============================
========== basic hovers ========
================================*/


nav ul li a:hover{
    color: var(--clr-text);
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0 15px;
}

.social img:hover{
    
    filter: 
     invert(12%) 
     sepia(12%) 
     saturate(99438%) 
     hue-rotate(29deg) 
     brightness(522%) 
     contrast(78%);

    transform: scale(1.5, 1.5) translateY(-10px);
}




/* =============================
========== attribution ========
================================*/






.attribution .att-link1::after{
    position: absolute;
    transform: scaleX(0);
    left: 0;
    bottom: -2.5px;
    height: 2.5px;
    background-color: white;
    content: '';
    width: 100%;
    transition: .7s;
}

.attribution .att-link2::after{
    position: absolute;
    transform: scaleX(0);
    left: 0;
    bottom: -2.5px;
    height: 2.5px;
    background-color: white;
    content: '';
    width: 100%;
    transition: .7s;
}

.attribution a:hover{
    color: hsl(200, 82%, 44%); 
}

.attribution .att-link1:hover::after{
    transform: scaleX(1);
     
}

.attribution .att-link2:hover::after{
    transform: scaleX(1);
    
}