@media only screen and (max-width: 800px){
    

    .tech-section{
        background-image: 
        url("../assets/technology/background-technology-tablet.jpg") !important;
        min-height: 210vh !important;
        overflow-x: hidden !important;
    }

    .desk{
        display: none !important;
    }

    .tab{
        display: block !important;
    }

    .default-img-tab{
        position: relative !important;
        width: 768px !important;
        height: 310px !important;
        left: 0px !important;
        top: 0px !important;
        margin-bottom: 86px !important;
    }

    .numbering,
    .number, 
    .term,
    .text-group,
    .default-name,
    .default-desc{
        position: static !important;
        left: 0 !important;
        top: 0 !important;
        margin: 10px auto !important;
        text-align: center !important;
    }


    .numbering{
        margin: 0px auto !important;
        margin-bottom: 0px !important;
        display: flex !important;
        flex-direction: row !important;
        position: relative !important;
        left: -70px !important;
        top: 675px !important;
    }

    .number{
        margin-right: 16px !important;
    }

    .term{
        font-size: 16px !important;
        line-height: 19px !important;
        letter-spacing: 2.7px !important;
        margin-bottom: 16px !important;
        min-width: auto !important;
    }

    .default-desc{
        margin-bottom: 16px !important;
    }

    .text-group{
        position: relative !important;
        top: 690px !important;
        height: 220px !important;
    }

    .attribution{
        position: relative !important;
        left: 0 !important;
        top: 1240px !important;
    }

    .attribution p{
        max-width: 1000px !important;
    }

} 


@media only screen and (max-width: 440px){
    
   

    .default-img-mob{
        position: absolute !important;
        width: 100vw !important;
        height: 170px !important;
        left: 0px !important;
        top: 350px !important; 
        display: block !important;
    }
    

    .text-group{
        position: relative !important;
        width: 327px !important;
        height: 220px !important;
        margin: 0 auto;
        bottom: 400px !important;
    }

    .default-name{
        font-size: 24px !important;
        line-height: 28px !important;
    }

    .numbering{
        position: absolute;
        width: 152px;
        height: 40px;
        left: 112px;
        top: 343px;
    }


    nav ul{
        transition: .75s !important;
        height: 100vh !important;
        width: 254px !important;
        background: rgba(255, 255, 255, 0.04) !important;
        backdrop-filter: blur(40.7742px) !important;
        z-index: 5 !important;
        padding: 118px 32px !important;
        display: flex !important;
        flex-direction: column !important;
        position: absolute !important;
        right: 0 !important;
        top: 0 !important;
        transform: translateX(137px) !important;
        text-align: left !important;
        align-items: flex-start;
        justify-content: start;
    }

    nav ul li{
        margin-top: 32px !important;
    }

    nav ul li a .nav-item .num{
        display: block !important;
    }

        
.hidden2{
    display: none !important;
}

} 