@media only screen and (max-width: 450px) {
  /* =============================================
    ========== redeclearing some variables  ======
    ==============================================*/

  :root {
    /* font sizes desktop */
    /* headings */
    --fs-h1: var(--fs-h1-mob) !important;
    --fs-h2: var(--fs-h2-mob) !important;
    --fs-h3: var(--fs-h3-mob) !important;
    --fs-h4: var(--fs-h4-mob) !important;
    --fs-h5: var(--fs-h5-mob) !important;
    --fs-h6: var(--fs-h6-mob) !important;

    /* paragraphs*/
    --fs-p1: var(--fs-p1-mob) !important;
    --fs-p2: var(--fs-p2-mob) !important;
    --fs-p3: var(--fs-p3-mob) !important;

    /* special text */
    --fs-weird: var(--fs-weird-mob) !important;
    --fs-italic-h2: var(--fs-italic-h2-mob) !important;

    --margin-left: 18px !important;
  }

  .mob,
  .mobs {
    display: block;
  }

  .mobs {
    position: relative;
  }

  .close {
    display: block;
    position: absolute;
    bottom: 0;
  }

  .visibility {
    visibility: hidden;
  }

  .mobs {
    margin-left: 10px;
  }

  .button {
    width: 124px;
    height: 42px;
    border-radius: 3px;
    font-size: 10px;
    padding: 0 !important;
  }

  /* =============================
    ========== navigation  ======
    ==============================*/

  nav {
    box-shadow: 0px 0px 0px rgb(255, 255, 255);
    padding: 22px 0px 0 0;
    display: flex;
    justify-content: space-between;
    top: 0;
  }
  .nav-right {
    display: flex;
    flex-direction: row-reverse;
  }

  nav .logo {
    width: 54px;
    height: 24px;
  }

  nav .up {
    font-size: 10px;
    width: 70px;
    height: 31px;
    border-radius: 4px;
  }

  nav .in {
    font-size: 10px;
    margin-right: 10px;
  }

  nav .buttons {
    display: flex;
  }

  .big-circle {
    display: none;
  }

  .mob-menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 7px;
    transition: 0.7s ease-in-out;
    width: 260px;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 110px;
    left: 50%;
    min-height: 200px;
    box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.75);
    transform: translateX(-50%);
  }

  .tran {
    transform: translateX(-540px);
  }

  .mob-menu ul {
    margin-right: 0;
    flex-direction: column;
    height: 100px;
    position: relative;
  }

  .mob-menu ul::after {
    content: "";
    width: 240px;
    position: absolute;
    bottom: -20px;
    left: 60px;
    height: 0;
    border: 1px solid var(--clr-orange);
  }

  .nav-link::after {
    top: 15px;
  }

  .logo-menu {
    display: block;
  }

  /* =============================
    ========== hero section  ======
    ==============================*/

  .hero-para {
    margin: 100px 0 312px var(--margin-left);
    max-width: 306px;
  }

  .hero-patterns {
    display: none;
  }

  .hero-para p {
    line-height: 22px;
    margin-bottom: 24px;
  }

  h1 {
    line-height: 46px;
    margin-bottom: 12px;
  }

  .hero-section .learn-more {
    width: 77px;
    height: 31px;
    border-radius: 3.204px;
    border: 1px solid #b0b4c0;
    font-size: 10px;
  }

  .hero-section .button {
    width: 98px;
    height: 31px;
  }

  .man-sitting {
    width: 234px;
    height: 344px;
    top: 339px;
    left: 70px;
  }

  .yoga-containers {
    display: grid;
    grid-template-areas:
      "a b"
      "c c";
      width: 100%;
      height: 361px;
      place-items: center;
  }

  .yoga-container:nth-child(1){
    grid-area: a;
  }

  .yoga-container:nth-child(2){
    grid-area: b;
  }

  .yoga-container:nth-child(3){
    grid-area: c;
  }

  .pattern{
    display: none;
  }

  .yoga-container{
    width: 162px;
    height: 162px;
    border-radius: 3.5px;
    padding: 14px;
    margin-right: 0;
  }

  .third-yoga-container{
    width: calc(100% - (var(--margin-left) * 2));
    height: 177px;
    border-radius: 3.7px;
  }

  .yoga-container h5{
    line-height: 16px !important;
  }

  .third-yoga-container .yoga-text{
    margin: 0px 0 0px 0 !important;
    line-height: 20px !important;
  }

  .yoga-container img{
    width: 134px;
    height: 68px;
  }

  .third-yoga-container img{
    width: 110px;
    height: 149px;
  }

  .third-yoga-container h5{
    margin-right: 28px;
  }

  .yoga-container .title{
    margin-bottom: 0;
  }

  .third-yoga-container .text {
    margin-right: 40px;
}

  .sec-sec{
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    margin: 70px var(--margin-left) 210px var(--margin-left);
  }

  .stats{
    margin-right: 0;
    max-width: 339px;
    height: 350px;
  }

  .stats .container{
    margin: 0;
  }

  .stats .container p{
    margin-right: 25px;
  }

  iframe{
    width: 339px !important;
    height: 180px !important;
    border-radius: 4.65px !important;
    margin: -40px 0 20px 0 !important;
  }

  .sec-sec .heading{
    max-width: 295px;
    margin-bottom: 11px;
  }

  .third-sec{
    height: 415px;
  }

  .third-sec .para{
    flex-direction: column;
  }

  .third-sec .para h2::before {
    width: 38px;
    height: 2px;
    border-radius: 1px;
    top: -4px;
  }

  .third-sec .para h2{
    width: 295px;
    line-height: 36px;
    margin-bottom: 12px;
  }

  .third-sec .para p{
    width: 253px;
    margin-bottom: 18px !important;
    line-height: 22px !important;
  }

  .sec-sec .heading h2{
    line-height: 36px;
    margin-bottom: 28px;
  }
}
