:root {
  /* primary colors */
  --clr-blackish: hsl(23, 47%, 7%);
  --clr-orange: hsl(22, 100%, 70%);
  --clr-green: hsl(169, 57%, 34%);
  --clr-pinkish: hsl(7, 100%, 71%);

  /* neutral  colors */
  --clr-num-3: hsl(7, 100%, 71%);
  --clr-pink-container: hsl(7, 98%, 82%);
  --clr-text: hsla(24, 9%, 32%, 1);
  --clr-video-sec-bg: hsl(225, 11%, 72%);
  --clr-greyish: hsl(0, 0%, 81%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-whiteish: hsl(225, 25%, 97%);

  /* font families */
  --ff-weird: "Homemade Apple";

  /* font sizes desktop */
  /* headings */
  --fs-h1: 70px;
  --fs-h2: 50px;
  --fs-h3: 34px;
  --fs-h4: 26px;
  --fs-h5: 24px;
  --fs-h6: 20px;

  /* paragraphs*/
  --fs-p1: 18px;
  --fs-p2: 16px;
  --fs-p3: 14px;

  /* special text */
  --fs-weird: 32px;
  --fs-italic-h2: 18px;

  /* font sizes desktop */
  /* headings */
  --fs-h1-mob: 36px;
  --fs-h2-mob: 26px;
  --fs-h3-mob: 18px;
  --fs-h4-mob: 14px;
  --fs-h5-mob: 12px;
  --fs-h6-mob: 10px;

  /* paragraphs*/
  --fs-p1-mob: 12px;
  --fs-p2-mob: 10px;
  --fs-p3-mob: 8px;

  /* special text */
  --fs-weird-mob: 16px;
  --fs-italic-h2-mob: 10px;

  --margin-left: 135px;
}



@media only screen and (max-width: 450px){
    
    .fourth-sec .para h2{
        margin-bottom: 0px;
    }

    .fourth-sec .para p{
        line-height: 22px;
    }

    .fourth-sec .para{
        margin-bottom: 0;
    }

    .courses-containers{
        height: 1461px;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
    }

    .show-all{
        height: calc(1461px * 2);
    }

    .course{
        border-radius: 14px;
        width: 339px;
        margin: 0 auto 20px auto;
        height: 417px;
    }

    .course .main-img{
        width: 304px;
        height: 262px;
        border-radius: 14px;
    }

    .course .main-img{
        margin-bottom: 10px;
    }

    .course h2{
        line-height: 24px;
        margin-bottom: 8px;
    }

    .course .main-p{
        font-size: 12px !important;
        line-height: 22px;
        margin-bottom: 17px;
    }
}





